(
        self,
        {{#allParams}}
        {{paramName}}: {{{vendorExtensions.x-py-typing}}}{{^required}} = None{{/required}},
        {{/allParams}}
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
    )