name: Lint and Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13", "3.14" ]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install deps
        run: |
          python -m pip install --upgrade pip setuptools
          pip install poetry

      - name: Test install
        run: |
          poetry install --all-extras

      - name: Lint (mypy)
        run: |
          poetry run mypy cirro_api_client

      - name: Run tests (pytest)
        run: |
          poetry run pytest

      - name: Build python package
        run: |
          poetry build
